[user]
    name = "Bahareh Saidi"
    email = "bahareh.saidi@sunlife.com"

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[url "ssh://git@github.com/slus-dcp"]
    insteadOf = https://github.com/slus-dcp

[url "ssh://git@github.com/DailyFeats"]
    insteadOf = https://github.com/DailyFeats